[2017-03-31 04:34] bagaskara-turboly opened #4 "Get `from_state` in `POST_TRANSITION` event"
Is there a way to get `from_state` in `POST_TRANSITION` event?

I want to have a history regarding changes in model transitions but was just able to have current state when using `POST_TRANSITION` event, or maybe I have done it wrong?

I want to fill `transition`, `from`, `to` to keep track of the history so client can see what happened to their transaction, transition changes `from` what state `t

[2017-03-31 20:45] sebdesign commented on #4
Hi @bagaskara-turboly ,

The `POST_TRANSITION` event is being dispatched with the `SM\Event\TransitionEvent` instance. According to the [source](https://github.com/winzou/state-machine/blob/master/src/SM/Event/TransitionEvent.php) there is a `getState()` method which returns the `fromState`. Here is an example using laravel's event listeners:

In your `EventServiceProvider`:

[code]

In the `App\L

[2017-04-01 15:05] bagaskara-turboly commented on #4
Okay, so I need to listen to both `before` and `after` event and then do what I need there right?
Thanks for your reply

[2017-04-01 15:12] sebdesign commented on #4
Both events carry the same `TransitionEvent`, which gives you access to the `StateMachine` instance. The `StateMachine` has a `getState()` method which gives you the current state.

So when the *after* event is dispatched, the current state would be the `to` state.

[code]

[2017-07-19 11:09] sebdesign commented on #4
Closing due to inactivity.

[2017-07-19 11:09] #4 closed

[2017-09-20 22:18] eduardoarandah opened #7 "How to use Gate::allows() ?"
How to use Laravel Gate to further authorize the change in status?
https://laravel.com/docs/5.5/authorization#authorizing-actions-via-gates

For this example, the change in state is valid, but I also need to check if it's authorized

I get this error:
call_user_func_array() expects parameter 1 to be a valid callback, class 'Illuminate\Support\Facades\Gate' does not have a method 'allows'

[code]

[2017-09-21 00:31] eduardoarandah commented on #7
I figured it out!

It would be useful to include in readme

To further autorize the transition using built-in permissions:

Create a policy, example: StatePolicy

`php artisan make:policy StatePolicy`

This policy receives the object being transitioned and the transition, so we will use it as arguments.

[code]

In this example, laravel will check current user to have a permission called "transiti

[2017-09-21 21:52] sebdesign commented on #7
Hi @eduardoarandah ,

When I was developing this package, I was thinking how can I integrate Laravel's Gate.
Like your example, one way is to perform a `Gate::allows()` check on the `guard` callback of the state machine.

I think the mistake on your first comment is that you are referencing the gate facade, which cannot be resolved correctly in the callback. Maybe that's something I should fix.

I

[2017-09-22 01:13] eduardoarandah commented on #7
Thanks!

Callbacks seems very complicated to figure out by oneself.
Yes, using a policy is redundant, the guard should be able to call the Gate directly.

Integrating with Laravel Gate would be great! because it lets you use all the nice tools like
[code]

This is how I'm solving Authorizations:

1- Is the user authorized to see the object in its **current** state?

if the state is **published** c

[2017-09-22 01:44] eduardoarandah commented on #7
## Didn't work with

`        'do' => [Iluminate\Auth\Access\Gate::class, 'allows'],`

![imagen](https://user-images.githubusercontent.com/4065733/30725824-f9646f34-9f0c-11e7-94de-778aa21c03fd.png)

## Worked Ok with

**Illuminate\Contracts\Auth\Access\Gate::class**

[code]

![imagen](https://user-images.githubusercontent.com/4065733/30725864-330b1fda-9f0d-11e7-907f-b9e0e39688b6.png)

[2017-09-22 03:47] eduardoarandah commented on #7
Being able to do this in the config file would be great!

[code]

Might be a just a shortcut to call the real function I guess

[2017-09-22 09:00] sebdesign commented on #7
Indeed using the contract should work!

I like your ideas about authorization, I'll think about it and probably will integrate something in the package.

Someone could also use Gates the other way around, the Gate asks the state machine what it can/cannot do. E.g. if I want to use `@can('state-machine.publishing.transitions.publish', $model)` in my views  to ask if the state machine can go to `pub

[2017-09-22 14:05] eduardoarandah commented on #7
Yes, absolutely.

I'm managing it in a very convenient way with a **trait**

[code]

## in the model

[code]

A couple of things to notice:

- This code is useful to have a default state in case nothing is provided

[code]
- In practice, we need to have more **knowledge** about states and transitions, in this example I'm rendering a label with nice colors to show current state.

[code]

## This is

[2017-09-25 19:08] sebdesign commented on #7
Hi @eduardoarandah ,

I'm working on the Gate functionality, and this is what I suggest:

[code]
The `can` accepts the ability that you have defined in `Gate:define()` or you policy method.
Also, in the `can` key you can pass an array of gates, and every one will be checked.

The `args` key should be optional, but if you pass `['object', 'event']` (or any combination of arguments) those will be pa

[2017-09-25 19:32] eduardoarandah commented on #7
THATS perfect!

Also the verb “can” is perfect. Feels natural.

[2017-09-28 00:29] eduardoarandah opened #8 "Debug Command returns double configurations"
When running this command, returns two configurations: the one in your package plus the one in the app

Example:

**pa winzou:state-machine:debug**

[code]

I don't have any graphA or a model called App\User

My config file /config/state-machine.php is:

[code]

function mergeConfigFrom() is the one causing trouble

/vendor/sebdesign/laravel-state-machine/src/ServiceProvider.php

[code]

[2017-09-28 00:48] eduardoarandah opened #9 "Idea: Easy notify on before and after events"
A common scenario is notifying on transitions.

Right now it works like this

[code]

Do you think it would add value to notify easier?

something like:

                [
                    'on' => 'solicitar_exponer',
                    'notify' => 'ExposicionNotification',
                ],

Always calling ->notify on the object being transitioned
and passing the caller and transitionEvent a

[2017-09-28 18:20] sebdesign commented on #9
This is a common scenario indeed, when you want to to send notification when an event is fired (not only regarding state machines).

You can simplify your code a bit like this:

[code]

I don't think it's ideal to put anonymous functions in config, because they can't be cached using `php artisan config:cache`.

One solution would be to use event listeners:
In `App\Providers\EventServiceProvider.ph

[2017-09-28 19:05] sebdesign commented on #8
That's a bug!

I just tagged a new version (v.1.2.3) with a fix.

[2017-09-28 19:06] #8 closed

[2017-10-10 09:28] jessynt opened #10 "Lumen support"

[2017-10-10 09:28] jessynt commented on #10
Is there any plan to add support for lumen?

[2017-10-10 09:46] sebdesign commented on #10
Hi @jessynt ,

Never thought of that, but I'll try to implement it!

[2018-02-07 10:49] ilvalerione opened #11 "Compatibility with symfony/event-dispatcher 4.*"
Hello,
I'm trying to install this package but composer give me a incompatible warning with symfony event dispatcher used in winzou/state-machine.

In the composer.json of the winzou package there is the constraint below:

`"symfony/event-dispatcher":    "~2.1|~3.0",`

But Laravel 5.5 ships with symfony/event-dispatcher 4.0.4

How do you use this package in Laravel 5 with this issue from winzou?

[2018-02-07 11:30] sebdesign commented on #11
Hi @ilvalerione ,

Thanks for reporting this issue! I propably didn't test this enough with Laravel 5.5.
I will try to fix this today, but if you have a quick fix that you could submit as a PR, I'll merge it.

Someone has asked a similar question in the wizou repo: https://github.com/winzou/state-machine/issues/38

[2018-02-07 11:42] ilvalerione commented on #11
I don't know what we can do...
Winzou should update your dependencies or I need to fork original state-machine package. I'm waiting an answer from winzou. Thanks for link.

[2018-02-07 11:55] sebdesign commented on #11
I found this fork which is submitted as a PR.
https://github.com/bpolaszek/state-machine

I guess we could use this repo as a VCS in our composer.json, until the winzou package becomes compatible.

[2018-02-16 13:56] flo-sch commented on #9
Hey @sebdesign, nice input about using EventListeners :)

But I guess it would not allow the Listener class to be type-hinted?

How could I inject the Request object for instance?

[code]

[code]

[2018-02-16 14:10] sebdesign commented on #9
Generally, Laravel resolves the listener classes through the container, so you can pass the `Illuminate\Http\Request` into the constructor of `App\Listeners\MyListener` and it will be injected automatically.

[code]

Or just use the `request()` helper in your method, it will give you an instance of the request.

[2018-02-16 14:38] flo-sch commented on #9
Very clear, thank you :)

[2018-02-17 17:34] #7 closed

[2018-02-17 17:40] sebdesign commented on #11
I've tagged 1.2.4 with support for Laravel 5.6.

[2018-02-17 17:40] #11 closed

[2018-05-04 22:02] mitjarobic commented on #7
Is the can verb implemented?

[2018-05-05 18:34] sebdesign commented on #7
@mitjarobic not yet, I'm planning to release it this month.

[2018-08-17 17:42] #9 closed

[2018-09-30 15:42] capricorn05 commented on #7
HI @sebdesign ,
Did the can functionality you described above go live?
thanks

[2018-10-02 08:04] sebdesign commented on #7
Hello folks,

I have tagged a new releases [v1.3.0](https://github.com/sebdesign/laravel-state-machine/releases/tag/v1.3.0) which implements the `can` keyword on callbacks.

Here is the documentation: https://github.com/sebdesign/laravel-state-machine#using-gates-and-policies.

Let me know if that works for you!

[2018-10-24 18:59] himan72 opened #14 "storing states"
where/how do you store the state on he model ?

[2018-10-26 20:10] #14 closed

[2018-10-27 11:29] himan72 opened #15 "add properties to states"
Hi
if we can add a properties array to states so we can add extra data ( displa_name, css_classe ...)

[2018-10-27 18:57] sebdesign commented on #15
How would you use this extra data? Could you give me some example?

[2018-10-27 19:10] himan72 commented on #15
Hi something like this
[code]

[2018-10-27 19:14] sebdesign commented on #15
What should the state machine do with these options?
Can you give me an example of how these options are used in the application?

[2018-10-27 19:20] himan72 commented on #15
those options will be used on the frontend to display the states of an article
[code]

[2018-10-28 19:49] sebdesign commented on #15
I did something similar in a project where I needed some options/metadata. I will come up with a solution and let you know as soon as possible!

[2018-10-28 19:50] himan72 commented on #15
excellent thanks a lot for your support

[2018-11-06 22:26] sebdesign commented on #15
Hi @himan72 ,

I have implement a feature to set and get metadata for state machine graphs, states and transitions.
You can find the code on the [metadata](https://github.com/sebdesign/laravel-state-machine/tree/metadata) branch. To install it on your project you must require the `dev-metadata` version in your composer.json. I haven't released it yet because I want to get some feedback from you.

[2018-11-08 11:18] himan72 commented on #15
Hi @sebdesign ,
Awesome this the enhancement that i was looking for. It gives more flexibility to the state machine.
I will test it this WE and get back to you?
Thanks a lot for your support.

[2018-11-22 11:50] devngl opened #16 "Custom exceptions"
Is it possible to define custom exceptions when a transition is rejected during a custom callback?

I would like to translate the message differently depending on the graph.

[2018-11-22 23:12] sebdesign commented on #16
The first thing that comes to my mind is that you throw a custom exception in you custom callback.

E.g. In your graph:
[code]

In your class you can access the object as well as the transition event:
[code]
The only downside of this approach is that `$sm->can('submit_changes')` will always throw an exception.
If you want you can give me an example of you custom callback to give you a better solut

[2018-11-26 15:03] devngl commented on #16
The custom exceptions trick worked like a charm for this use case, I can live with the downside. Thanks!

[2018-11-26 15:03] #16 closed

[2018-12-13 03:56] hemantachhami19 commented on #15
Hi @sebdesign  .
What to do if there is multiple transition steps(multiple transition steps) to reach from one state to another .

[2018-12-13 03:57] hemantachhami19 opened #17 "How to use state machine when there is multiple transitions steps to reach from state A to state B?"

[2018-12-13 19:09] sebdesign commented on #17
Could you give me an example of the graph in your `config/state-machine.php`?

[2018-12-29 00:32] damarev commented on #15
Hi. @hemantachhami19 made a point: a state machine should only care/manage states and transitions between.  All metadata and properties associated to a given state, I think it should be handled outside the SM.

At first, i thought this was a nice addition...    but if there are multiple transition steps, you will end scratching your head trying to figure out wich transition set wich property.

[2018-12-29 01:14] sebdesign commented on #15
I'm not following the problem here. I asked @hemantachhami19 for more information in #17, but there is no answer yet. What are multiple transition steps? As far as I know, a transition can have multiple `from` states but only one `to` state.

Regarding this PR, a state can have its own metadata, while a transition can have it's own metadata.

Could you give me an example of the problem you're tryi

[2018-12-29 20:55] damarev commented on #15
Not really trying to solve a problem, just thought that data and/or properties related to a particular state, should be managed (getted or setted) outside the SM, via singleton class, config file, translation file...  seems like more flexible and "neat".

Just thoughts...   really not against that the metadata branch should be merged. Thank you for your work!

[2018-12-29 21:53] sebdesign commented on #15
@damarev that was my initial thought, but since we already have a config file, it seems to be the right place to implement this.

But if someone has different needs, they can develop their own `MetadataStoreInterface` implementation and use it with dependency injection. The metadata store is not really coupled to the configuration, so you can use your own singleton/service/translation file, etc.

[2019-02-18 12:21] sebdesign commented on #17
Closing due to inactivity.

[2019-02-18 12:21] #17 closed

[2019-02-28 12:19] bublicov opened #18 "v1.3.1 .. Add support for Laravel 5.8"
v1.3.1 .. Add support for Laravel 5.8

but no changes on composer.json (

[2019-02-28 16:00] sebdesign commented on #18
You're right, I missed something in that commit. Should be fixed in v1.3.2 (just tagged).

[2019-02-28 17:09] bublicov commented on #18
oops ..

[InvalidArgumentException]
Could not find package sebdesign/laravel-state-machine in a version matching 1.3.2

[2019-02-28 17:46] bublicov commented on #18
merci

[2019-02-28 17:46] #18 closed

[2019-04-17 09:25] divanoli commented on #15
@sebdesign Do you have any plans to add this feature in the master branch? I couldn't install your dev-metadata branch in Laravel v5.8 projects.

Thank you for your awesome work.

[2019-04-17 12:10] sebdesign commented on #15
Hi @ddevdreamer ,

Today I will update the metadata branch to support Laravel 5.8.
Thanks for reporting this!

[2019-04-17 12:15] divanoli commented on #15
@sebdesign I've created a pull request #19 if it would save you some time. Thank you.

[2019-04-18 00:02] sebdesign commented on #15
@ddevdreamer I have added support for Laravel 5.8 on the [metadata](https://github.com/sebdesign/laravel-state-machine/tree/metadata) branch. Thanks for your PR though.

Let me know how it goes. Cheers!

[2019-04-22 10:37] divan-mt commented on #15
@sebdesign It is working perfect. Thank you so much.

[2019-04-22 16:35] sebdesign commented on #15
Great! If everyone is happy about this, I can release it in v1.4.0.

[2019-04-23 16:08] himan72 opened #20 "Filter Transitions deending on user role or permission"
Hello
Is there any way to filter the allowed transitions depending on the auth user role(s) or permission(s) ?
Thanks for your support

[2019-04-23 21:58] sebdesign commented on #20
Hello,

you could achieve this in several ways, but it depends on how your roles/permissions are structured. If you are using gates/policies as guards for the transitions, `$sm->getPossibleTransitions()` will only return the transitions allowed for the authenticated user based on the policies.

Could give me an example of what would you like to achieve? Are you interested in the transitions allowe

[2019-04-24 17:23] himan72 commented on #20
Hello
First of all a BIG THANKS to Sébastien for taking the time to respond to my question. :)
I am using [spatie/laravel-permission](https://github.com/spatie/laravel-permission) package to handle the permissions. What i want to achieve is to filter the transitions based on the authenticated user role.
I guess the gates/policies is a good way to do it.

[2019-04-24 17:34] sebdesign commented on #20
You're welcome!

You can definitely use this package, and it will work the same as if you had your own gates/policies.
I will take a look at spatie/laravel-permission and will give you an example tomorrow.

Cheers!

[2019-04-25 18:50] sebdesign commented on #20
Hello @himan72 ,

Here is an example of some permissions set up with spatie/laravel permissions:

[code]
And a state machine configuration: The name of the permission in the `can` keys **must match** the permissions given above.

[code]

So when the `$user` is authenticated, the possible transitions will be `submit`:
[code]

But when the `$superUser` is authenticated, the possible transitions will

[2019-05-05 08:21] divan-mt commented on #20
Wouldn't it check the gates on the policies for <code>App\Article</code> rather than the user permissions?

[2019-05-05 11:08] himan72 commented on #20
Yep I plan to use a policy to handle the permissions.

Le dim. 5 mai 2019 08:21, divan-mt <notifications@github.com> a écrit :

[2019-05-06 18:05] sebdesign commented on #20
Hey @divan-mt @himan72 ,

I believe with this configuration that it would NOT check the policies.
The reason is because in the configuration there is no `'args' => ['object'],` for the `can` callback.
So instead of doing `Gate::check('publish articles', $article)`, it will simply execute `Gate::check('publish articles')`.

Using the `args` key allows you to define which arguments you want to call

[2019-05-07 03:29] divanoli commented on #20
@sebdesign Actually, in the project I'm working on right now, I have created policies for the Object and it works without explicitly having <code>'args' => ['object']</code>.
[code]

[2019-05-14 09:41] divan-mt commented on #15
@sebdesign Any plans on this? Just checking. Thank you.

[2019-05-14 09:46] sebdesign commented on #15
@divan-mt I will release it today!

[2019-05-14 17:40] sebdesign commented on #15
Hi everybody,

[v1.4.0](https://github.com/sebdesign/laravel-state-machine/releases/tag/v1.4.0) has been release, with support for metadata. For those who were using the `metadata` branch in their composer.json, please update your dependencies to `^1.4`.

Let me know if there anything else!

[2019-05-30 07:19] ziming opened #22 "Arg 2 passed to Sebdesign\SM\Factory\Factory::__construct() must implement interface Symfony\Component\EventDispatcher\EventDispatcherInterface or be null"
Got this error when I run composer update today. Didn't have this issue yesterday. Yet to make any new changes to my code. Using Laravel 5.8. Hope it helps!

Symfony\Component\Debug\Exception\FatalThrowableError  : Argument 2 passed to Sebdesign\SM\Factory\Factory::__construct() must implement interface Symfony\Component\EventDispatcher\EventDispatcherInterface or be null, instance of Sebdesign\SM

[2019-05-30 15:44] #15 closed

[2019-05-30 20:33] sebdesign commented on #22
That's strange. I installed the package (v1.4.0) to a fresh laravel project (v5.8.19), and it works fine. Could you paste the whole stack trace here? Did you try running `composer dump-autoload` again?

[2019-05-31 01:58] ziming commented on #22
Okay I think I discovered what caused it. The very popular barryvdh/laravel-ide-helper

Try installing that package to your require-dev then have the following in your composer.json

[code]

Pretty sure `php artisan ide-helper:meta` is what causes the error. But previously it never caused an error with your package.

Now I'm not sure if you should adapt your package to barryvdh/laravel-ide-helper

[2019-05-31 02:23] ziming commented on #22
The stack trace of `php artisan ide-helper:meta` is as below

[code]

[2019-05-31 10:00] sebdesign commented on #22
I was able to reproduce the error by installing `laravel-ide-helper` and running the `ide-helper:meta` command.

This is quite obscure, but I think it might be related to Symfony 4.3 which has released a few days ago. The interface of the event dispatcher was changed and that probably doesn't play well with laravel-ide-helper. I will investigate more with this and get back to you.

[2019-05-31 18:27] sebdesign commented on #22
After some tinkering I found that the `ide-helper:meta` command throws a `ReflectionException` when a class cannot be loaded, and then it's catching the `Exception`.

Now the `EventDispatcherInterface` in Symfony 4.3 is trying to extend the PSR-14 interface which cannot be found, so an `ReflectionException` is thrown.

In this PR: https://github.com/barryvdh/laravel-ide-helper/pull/779 the `Throwa

[2019-06-01 08:05] ziming commented on #22
So do we make a pull request over there?

[2019-06-01 14:32] sebdesign commented on #22
I'm not sure yet, because it seems those changes were recently added and have valid purposes.

Also, it seems that in Symfony 4.3 the arguments of the dispatch method have been swapped: https://github.com/symfony/symfony/pull/28920 and the old way is deprecated.

This means the `winzou/state-machine` package should be updated to support Symfony 4.3 and beyond.

I think I will make a PR over there

[2019-06-01 14:43] ziming commented on #22
Thanks! No worries it's not blocking me I could just not call the ide-helper meta docs command or remove this package for now. Given the complaints I got from my current client on how they can't reverse a status they transit to by mistake and would rather have the freedom to set to any status. So the enforcement by a state machine has its cons as well :)

May be off topic, just curious but have yo

[2019-06-01 18:03] sebdesign commented on #22
Yeah state machines have their drawbacks too. In that case you could leverage gates/policies to allow for the admin to change any status they want. :)

https://github.com/sebdesign/laravel-state-machine#using-gates-and-policies

I haven't look into those packages, but I tend to fork dependencies and use vcs repositories in my composer.json sometimes.

[2019-06-02 02:55] ziming commented on #22
great. Thanks for the tips!

[2019-06-13 10:52] lopezdonaque commented on #22
Hi,

I have the same error and it seams winzou/state-machine is not maintained.
Maybe a solution will be migrate to Symfony Workflow.

https://symfony.com/doc/current/components/workflow.html

[2019-06-13 11:37] ziming commented on #22
Too quick to call a project unmaintained when it's only 12 days since the author reply 😆

[2019-06-16 15:58] GonzaloGPF opened #23 "Illuminate\Contracts\Container\BindingResolutionException : Unresolvable dependency resolving [Parameter #0 [ <required> array $configs ]] in class SM\Factory\Factory"
Hello!
FIrst of all, thx for this package, I really like it!
However, some days ago, it started failing... I don't know why.
When I try  to instantiate with dependency injection, in my controller it throws an Exception about binding resolution.

`Illuminate\Contracts\Container\BindingResolutionException : Unresolvable dependency resolving [Parameter #0 [ <required> array $configs ]] in class SM\Fa

[2019-06-16 16:25] #23 closed

[2019-06-16 16:27] GonzaloGPF commented on #23
Just was a problem with my ide-helper:generate... Sorry.
I Just clean up everythinh running `php artisan ide-helper:generate` and all works fine again.

[2019-07-09 16:02] lcba813 commented on #10
Did this happened?

[2019-07-23 13:55] acorncom commented on #10
@lcba813 yep, looks like it's been added

[2019-07-24 07:42] #10 closed

[2019-09-12 12:26] G89Angel opened #26 "SMException when version is higher than 1.3.3"
Hello,

whenever I use a version higher than 1.3.3 I get this exception:

SM\SMException - "Cannot set the state to "3" to object "App\Models\Order" with graph graphOrder because it is not pre-defined."

There is no change in state-machine and state 3 is listed in 'states'
[code]
Everything is a scalar value resolved by a constant. I couldn't find anything in 1.4.4 commits that could give me a hin

[2019-09-12 13:10] G89Angel commented on #26
Nevermind, I didn't notice that states was now an array with a name param. Now it's working:
[code]

[2019-09-12 17:57] sebdesign commented on #26
Hello,

I'm sorry for the confusion, I think this is actually a bug, because internally it's converting the array of states to an array of arrays with name parameter. But it's not working for states that are numeric, only strings. I will make a PR to fix this.

Can you update to `^2.0` or are you using and older version of PHP / Laravel?

[2019-09-12 18:07] sebdesign commented on #26
Fixed by 4ea333dac9236ba1fd49fa97ddc50c389412a513. Please upgrade to v2.0.2 or let me know if you need a 1.3.x release.

[2019-09-13 07:11] G89Angel commented on #26
Perfect, I've been able to test it today and working perfectly as expected. Again, thank you very much.

[2019-09-13 07:11] #26 closed

[2019-11-28 09:31] MartinP7r opened #29 "Installation fails at post-update-cmd"
If something else hooks into the `post-update-cmd` script of `composer.json` (e.g. barryvdh/laravel-ide-helper), installation fails like below. Workaround is to remove the non-default script entries and run the installation without it. Can be put back after publishing the config.

[code]

[2019-11-28 23:37] MartinP7r opened #30 "multiple graphs/property_paths on same class"
Hi, I was wondering if it would be possible to apply more than one statemachine to the class? e.g. when you have two different state variables on the same model?
It seems that right now, `getGraph` can only set for one graph that in turn is coupled to one `property_path`.

[2019-11-28 23:59] MartinP7r opened #31 "pass additional data when applying a transition"
I was trying to figure out how to set variable data on the model when applying state changes.
E.g. within an application, a user can set the state of a certain model to `scheduled` and pass a date along with it. the date gets set in a different variable on the model, logic for that could be handled inside the callbacks, as long as there would be a way to pass more args with `apply()` (currently it

[2019-11-29 18:49] sebdesign commented on #31
Hey,

After some thought I don't this it's possible to pass other data to callbacks.
But after checking `symfony/workflow`, they do allow passing a context array when applying transitions. I will try to implement that and I'll get back to you!

[2019-11-29 18:58] sebdesign commented on #30
Actually you can create multiple graphs for a class, and set a different property path. E.g. in your `state-machine.php` config:

[code]

So now you can gate the state machine for each graph like this:

[code]

I'm not sure how you can use this feature with `iben12/laravel-statable`, as the trait is allowing only one graph per model.

[2019-11-29 22:03] sebdesign commented on #29
Can you please update to v2.0.4? I think that might solve the issue.

[2019-11-30 13:58] sebdesign commented on #31
I've tagged v2.1.0 which allows to pass additional data when checking/applying transitions.

You can read more in the [Context](https://github.com/sebdesign/laravel-state-machine/tree/v2.1.0#context) section of the README. Let me know if that is working well for you case!

[2019-12-01 22:26] MartinP7r commented on #31
Wow, thanks so much for the swift implementation!
I'll go check it out right away 🙂

[2019-12-05 10:51] #31 closed

[2020-01-28 17:28] sebdesign commented on #30
Hello @MartinP7r , did you find a solution for your problem? I was wondering if you need more assistance or if I can close this issue. Thanks!

[2020-01-28 17:29] sebdesign commented on #29
@MartinP7r Did you manage to resolve this with the update? Thanks!

[2020-01-28 22:53] MartinP7r commented on #30
@sebdesign thanks a lot and sorry for the late response. I'm going to implement it as you suggested, possible just not using the trait...
a kind of related question, if I may:
Is there a way to apply the same graph to more than one model? E.g. `'class' => [App\Order::class, App\Shipment::class]`? Or do I just need to duplicate the config entry for another class?

[2020-01-28 23:11] MartinP7r commented on #29
Seems to be fine when I run `composer remove` followed by `composer require` on your package

Although i get an error when trying the same with the iben12/laravel-statable package

[code]

[2020-01-28 23:11] #29 closed

[2020-01-28 23:12] sebdesign commented on #30
At the moment you can't specify more than one model in the `class` in the config.
But you can use an interface or an abstract class in the `class` instead of a concrete class.

For example, if you have a graph for your `App\User` model and you want to reuse the same for your `App\Admin` model, you can specify `class => Illuminate\Foundation\Auth\User::class` which is the base `Authenticatable` mod

[2020-01-28 23:19] sebdesign commented on #29
That's strange. Can you provide a stack trace?

[2020-03-07 21:20] divan-mt opened #35 "Can't install on a fresh Laravel 7 project"
I get this error while trying to install this package in a fresh Laravel 7 project.

`    - sebdesign/laravel-state-machine v3.0.0 requires winzou/state-machine ^0.4.0 -> no matching package found.
`

It seems `winzou/state-machine` has latest version [0.3.3](https://github.com/winzou/state-machine/releases/tag/0.3.3) but you require ^0.4.0
Is there anything with this?

[2020-03-08 10:51] sebdesign commented on #35
Yes I had the same problem a few days ago, so I put a small upgrade guide on the release page: https://github.com/sebdesign/laravel-state-machine/releases/tag/v3.0.0

Let me know if that fixes the issue.

[2020-03-08 17:54] divan-mt commented on #35
Ah I totally missed that. Thank you.

[2020-03-08 18:02] #35 closed

[2020-03-10 08:30] wh469012917 opened #36 "sebdesign/laravel-state-machine v3.0.0 requires winzou/state-machine ^0.4.0 -> no matching package found"

[2020-03-10 10:19] sebdesign commented on #36
In your composer.json change the version constraint:

[code]

Add the following section:

[code]

[2020-03-12 13:33] #36 closed

[2020-03-16 10:32] Skullbock opened #37 ""winzou/state-machine": "^0.4.0""
It seems that this dependency doesn't exist:, the 0.4.0 is the bundle, here we require the basic package which is 0.3.0

[2020-03-16 10:35] Skullbock commented on #37
Sorry, i just saw it's a dependency you created as an override.
Closing this

[2020-03-16 10:35] #37 closed

[2020-03-19 05:31] MartinP7r commented on #37
Thanks @Skullbock, that was also my problem.

For whoever comes here wondering why there's no version 0.4.0 of `winzou/state-machine`, you need to follow the upgrade guide in https://github.com/sebdesign/laravel-state-machine/releases/tag/v3.0.0 for a temporary workaround to enable the version up for Laravel 7.

[2020-03-23 10:19] MartinP7r commented on #30
Thanks so much for the more detailed explanation and sorry for the late reaction.

Considering your remarks, is there anything speaking against just specifying `App\Model` for a state-machine that's being implemented by more than one model, since all models inherit from it?

Or would you advise for implementing an "empty" interface like `interface SomeStatable {}` and then just specify `class => S

[2020-03-23 10:28] sebdesign commented on #30
No worries, you can post this kind of questions here.

It is possible to specify an interface instead of a concrete class in a graph.
It can be an empty interface so you can apply it to multiple classes without worrying about the implementation.

You could also specify `Illuminate\Database\Eloquent\Model` or `App\Model`, but I would consider this a code smell: Does it mean that every model in your

[2020-03-23 22:58] MartinP7r commented on #30
Thanks again.

From what you are saying, I'm tending towards a shared empty interface. Your explanation about the code-smelly aspect makes a lot of sense. It's only a couple of models in my project.

Essentially I have several models that are types of requests (`BusinessTripRequest`, `ExpenseReport`, etc.) going through and `Approval` process with variable number of approvers involved. The relevan

[2020-03-24 00:39] MartinP7r opened #38 "Listener per graph"
Hi @sebdesign , me again with the constant questions.  😅

I'm trying to figure out how to listen to all `POST_TRANSITION` events for **one specific graph**. By your readme it seems to be either listening to all `POST_TRANSITION` events for **all graphs** via SMEvents::POST_TRANSITION in `EventServiceProvider` or callbacks for **every state transition** one by one.

The use case is filtering all tr

[2020-03-24 11:26] sebdesign commented on #38
Hey there,

I haven't found the time to answer the other issue, but this one is simpler I think. :)

Personally I would avoid using the POST_TRANSITION because checking the graph type each time would be unnecessary as you said.

I think you can get use an `after` callback this way:
[code]

After any transition that goes away from the `locked` state, call the `removePersonInCharge` method on the mo

[2020-03-24 11:31] sebdesign commented on #38
If you don't want to create a `removePersonInCharge` method, I believe you can use the `do` clause like this:

[code]

The `setAttribute` method is available on Eloquent models.

[2020-03-24 11:54] sebdesign commented on #30
I have implemented a similar functionality in the past, regarding multiple approvals and approvers, although not using state machines, but I can give you some insight.

While you cannot define properties on interfaces, you can define them in traits but you can't use them for attributes on Eloquent models, because the model attributes are stored in the `attributes` array property. So you could defi

[2020-03-29 07:09] MartinP7r commented on #38
Wow, thanks. I did not realize that callbacks work that way with to/from as well. I guess I should read your documentation and the one of the original `winzou/state-machine` more closely 😅. This solves my problem and here, thanks so much.

Sorry I did not get around to dive into your explanation to my other question, yet. Will do as soon as possible.

Stay safe!

[2020-03-29 07:09] #38 closed

[2020-04-06 06:32] MartinP7r commented on #30
This seems very clean and easy to implement for me. Thanks so much for the detailed example! 😀

Just for confirmation. If I understand this correctly, any logic that I create (state-machine or otherwise), that wants to use the Approvable interface instead of a concrete class, would need to call `getApprovalStatus` etc. in order to access properties and would not be able to use `$object->x` unless

[2020-04-06 13:22] sebdesign commented on #30
Since the Approvable interface is implemented by the eloquent `Model` you can directly access properties `$object->x` like any other eloquent model. The getters/setters are just meant to use custom logic for getting/setting  the attribute, but that's only if you need to. You don't have to specify any getter/setter in the interface or the trait if you `$object->x` is working for your case.

[2020-04-24 08:14] rmezhuev opened #39 "Dependency for winzou/state-machine with wrong version number"
In `composer.json`
[code]
Produces error during installation
[code]
sebdesign/laravel-state-machine v3.0.0 requires winzou/state-machine ^0.4.0 -> no matching package found.

[2020-04-24 09:36] sebdesign commented on #39
Please add the following section to your composer.json:

[code]

[2020-04-27 14:11] rmezhuev commented on #39
Thank you, for some reason I skipped this part in readme instructions

[2020-04-27 14:11] #39 closed

[2020-05-06 05:50] oscar-parra opened #40 "error installing"
sebdesign/laravel-state-machine v3.0.0 requires winzou/state-machine ^0.4.0 -> no matching package found.

apparently the latest version of winzou is 0.3.3 and 0.4 is being required

[2020-05-06 09:04] sebdesign commented on #40
Please add the following section to your `composer.json`:

[code]

[2020-05-29 10:47] lemonlover opened #43 "Composer - installation error"
Hi, i have some problems with installation

My Composer configs

[code]

Output on installation:

[code]

[2020-05-29 17:11] sebdesign commented on #43
I'm not sure why the memory is exhausted, but you can try this command on your terminal:

`COMPOSER_MEMORY_LIMIT=-1 composer update`

[2020-05-30 15:53] scottzirkel commented on #43
Was having the same issues, forgot about the memory limit setting, thanks!

Update: I don't think this issue is truly related to your package, but I first got it when trying to install it. Seems to be another issue that only looked to be related to this package. Still a helpful command to sort out issues.

[2020-06-01 10:42] nope123nope commented on #43
Thanks, it works for me.
Building composer vendors in okteto docker containter - memory was limited also in configs.
Closing issue.

[2020-06-01 10:42] #43 closed

[2020-06-01 10:50] sebdesign commented on #43
Maybe it's because this package requiring a fork of `winzou/state-machine` instead of the original package.

[2020-06-09 05:01] #30 closed

[2020-07-20 18:15] #40 closed

[2020-07-29 10:32] petermein opened #44 "Incompatibilty with Winzou state machine"
The interface declaration doesn't match with the implemenation in this package

`Declaration of Sebdesign\SM\StateMachine\StateMachine::apply($transition, bool $soft = false, array $context = Array): bool must be compatible with SM\StateMachine\StateMachine::apply(string $transition, $soft = false): bool`

[2020-07-29 14:21] sebdesign commented on #44
Thanks for reporting this!

Could you provide a stack trace for this error? Which PHP version are you using?

[2020-07-30 13:54] robvanaarle commented on #44
I'm having the same issue with PHP 7.2.22 and PHP 7.3.20, it's triggering the Fatal error as specified by petermein.

The StateMachine class and interface of winzou declares the method `apply` as
`public function apply(string $transition, $soft = false): bool`

Your StateMachine class declares it as
`public function apply($transition, bool $soft = false, array $context = []): bool`

This is incomp

[2020-07-31 10:30] sebdesign commented on #44
@robvanaarle I think I understand your issue. When I added support for Laravel 7 and Symfony 5, I had to fork `winzou/state-machine` to https://github.com/sebdesign/state-machine, in order to fix compatibility issues. I had tagged my changes as v0.4.0 and v0.4.1.

I did send a PR to the original repository then, and the changes were tagged just a few days ago: https://github.com/winzou/state-machi

[2020-07-31 10:45] robvanaarle commented on #44
The tag you're referring to is for commit da3ef73. In that commit the apply() method was [changed](https://github.com/winzou/state-machine/commit/da3ef733d00795b144bc12a42a66cf9649829b41#diff-f8bad91b51f7ef637540a6a4f5b09031L115) from
`public function apply($transition, $soft = false)`

to
`public function apply(string $transition, $soft = false): bool`

which does not match your definition of app

[2020-07-31 10:50] sebdesign commented on #44
You're right! I didn't notice that the original package added the `string` typehint to the `$transition` parameter. I thought that the `$context` was the issue.

I have to think for a strategy to fix this in a BC way, without breaking applications that are relying on non-string `$transition` arguments.

[2020-07-31 11:08] robvanaarle commented on #44
Actually the Fatal Error is caused due to your `bool` typehint for `$soft`. If you remove that, it's working again. I've tested it in my project. Here is a simple script that can reproduce and solve it:

[code]

[2020-07-31 11:22] sebdesign commented on #44
@robvanaarle I've pushed your suggestion to master. Could please try it before I tag this as a new release?

[2020-07-31 11:32] robvanaarle commented on #44
Yes. The code change is as expected and using master in my project let my unit tests pass again. Thanks!

[2020-07-31 12:44] sebdesign commented on #44
I've tagged [v3.0.2](https://github.com/sebdesign/laravel-state-machine/releases/tag/v3.0.2). Thanks for your help with this!

[2020-07-31 12:44] #44 closed

[2020-10-19 17:28] stephan-v opened #46 "Filtering transitions based on a model property."
Reading the documentation I see that policies can be used to filter transitions based user roles for example.

I am wondering if there is an easier way when you simply want to check a property on a model though.

I have a `Stop` model which can have a `requires_identification` property set to true or false. If it is set to true I modify the transitions.

[code]

Using the above code I am checking

[2020-10-19 19:00] sebdesign commented on #46
Yes indeed, there is a simpler way for these kind of checks.

Using gates/policies is more useful when you want to do user authorizations.
But in your case, you need a simple guard callback. Here are some ways you can achieve this:

#### 1. Using closures

[code]

The `do` key is the callback that checks the property, and the `args` key is the arguments that will be passed to the callback. In this

[2020-10-19 19:04] sebdesign commented on #46
In the example 4, you can also use the `value` or the `with` helper functions in Laravel, instead of `boolval`, which return the given argument as is.

[2020-10-20 08:44] stephan-v commented on #46
Thanks a lot man, just what I am looking for. It's amazing to see how flexible this is. Keep up the good work.

[2020-10-20 09:11] #46 closed

[2020-10-22 15:28] Alexandertlt opened #47 "Unable to apply policies for transitions."
Hello!
I have some problems with use policies with state-machine.
I need the transition to occur only when the policy returns true.

Laravel 7.28.4
Installed "sebdesign/laravel-state-machine": "^3.1".
The config file config/state-machine.php is unchanged as in the documentation:
[code]
When I try to call apply('approve') I get an error: CallbackFactory::get needs the index "do" to be able to build

[2020-10-22 16:17] sebdesign commented on #47
That's strange!

This condition should be true since there is a `can` key in the guard: https://github.com/sebdesign/laravel-state-machine/blob/master/src/Callback/ContainerAwareCallbackFactory.php#L45

Could you please copy/paste the whole stack trace of the error here?

[2020-10-23 05:37] Alexandertlt commented on #47
Oh sure. Here he is:
[code]

In User model was added method:

[code]

[2020-10-23 09:37] sebdesign commented on #47
Oh now I get it. You are using the wrong factory. The `SMFactory` is from `winzou/state-machine`, so it does not use the features of this package. Where did you find this example?

You should instantiate the factory/state machine with one following ways:

#### Get the factory from the interface
[code]

#### Or get the factory from the alias
[code]

#### Or get the state machine directly from the f

[2020-10-23 13:57] Alexandertlt commented on #47
Thank you very much Sébastien for your help!
Your option 2 worked for me.

I used the example from this article:
https://itnext.io/using-state-machines-in-laravel-bbc07384c232

[2020-10-23 15:03] sebdesign commented on #47
Ah yes I remember this article, I'll notice the author to fix the example!

@jrmadsen67 could you take a look at this?

[2020-10-23 21:24] jrmadsen67 commented on #47
Thanks for catching - I'll take a look at this today

EDIT: I've updated to use the examples you provided above. Thanks again!

[2020-10-24 17:09] #47 closed

[2020-11-17 17:11] devngl opened #50 "Composer 2"
is there any known problem with Composer 2 and this library? After updating to version 2 this happened:

![image](https://user-images.githubusercontent.com/41761985/99422725-1e4c7c80-2900-11eb-9c1b-5929768c0c24.png)

Looks like it's trying to use Winzou class instead of Sebdesign one. Went back to Composer 1 in the meantime.

Regards

[2020-11-17 19:58] sebdesign commented on #50
As far as I know, it's working fine in composer 2. I'm using it in my machine as well as in travis.ci: https://travis-ci.org/github/sebdesign/laravel-state-machine/jobs/742520351#L225

What versions are you using? (PHP / laravel-state-machine)?

[2020-11-17 19:59] sebdesign commented on #50
Can you show me the code that throws the error?

[2020-11-17 20:37] devngl commented on #50
I'm using PHP 7.4.12 and Laravel 8.

This is the whole graph definition:
[code]

EventTransitions.php is just a class full of static methods on this manner:
[code]

In regard to what triggers the problem is just an API endpoint that does this:
[code]

stateMachine() is a method of the model:
[code]

My composer.lock has these versions:
[code]

Once I perform the installation with composer 1 the pr

[2020-11-17 20:55] sebdesign commented on #50
Are you importing `Sebdesign\SM\Facade as StateMachine`, `StateMachine`, or `SM\StateMachine\StateMachine` in your model?

[2020-11-18 09:21] devngl commented on #50
[code]

I've tried 3 ways and it keeps failing, only difference is that when I use `SM\StateMachine\StateMachine` the error is this one:
```Call to undefined method SM\StateMachine\StateMachine::get()```

Which I guess is normal since I'm not calling the constructor myself.

[2020-11-19 10:52] sebdesign commented on #50
That's strange, `StateMachine` is the alias for the `Sebdesign\SM\Facade` facade. It shoudn't be `SM\StateMachine\StateMachine`.

[2020-11-20 07:35] MartinP7r commented on #16
@sebdesign , Sorry for hi-jacking this question:

Would there be a way to throw the exception from inside a policy called via the `guard` config statement?
E.g. I'd like to show a message to the user via Laravel's `\Response::deny()` (or `$this->deny()` from inside the policy class) but it seems that's not working and I always get a `SMException`.

One reason I'm asking is the added benefit of get

[2020-11-20 11:29] sebdesign commented on #16
@MartinP7r that's an interesting question! That's not possible currently, but I could implement that as a feature.
In the meantime, there is a workaround for this. Instead of a `guard` config, you can use a `before` config statement (do not use both, since the guard will return `false` before).

[code]

This statement will call `Gate::authorize('submit', $model)` before applying the `submit_change

[2020-11-22 17:36] nishantha-kumara opened #51 "Callback error - Expects parameter 1 to be a valid callback"
Development environment

- PHP version: 7.3
- Laravel version: ^6.2
- State machine version: ^2.0

Hello,
I'll try to use the state machine in one of my projects. I have installed and set up the state machine according to the documentation. but when I run the callbacks using the state machine getting an error.

[code]

This is my state machine config file.

[code]

And if I change the callback fun

[2020-11-22 19:43] sebdesign commented on #51
Indeed, now that I'm looking at the code, the callback is executed statically: `call_user_func_array('App\Services\ConsultationSession', 'afterPatientCancel')`, so PHP is expecting a static method.

If you don't want to use a static method, you need to bind the `App\Services\ConsultationSession'` to the Laravel container.
This way, the object will be resolved through the container and your method

[2020-11-23 04:40] nishantha-kumara commented on #51
Thanks for your quick response. Actually, I know both methods. are you plan to fix the issue in the future?
need to call the **nonstatic method** using the state machine callback (according to the documentation.]).
[code]

[2020-11-23 04:41] nishantha-kumara commented on #51
Thanks for your quick response. Actually, I know both methods. are you plan to fix the issue in the future?
need to call the **nonstatic method** using the state machine callback (according to the documentation.]).
[code]

[2020-11-23 10:19] sebdesign commented on #51
It's not an error, it's the way PHP works. `call_user_func_array()` accepts an object or a class name and calls the static or non-static method respectively.

Furthermore, I would not change the way the callbacks work, because some developers may want to call static methods, while others want to call non-static methods. So we need to support both.

The correct way to call a non-static method on an

[2020-11-23 11:02] nishantha-kumara commented on #51
Okay.
I think you need to add the how-to call static functions and non-static function clearly in your documentation.

[2020-11-23 11:03] sebdesign commented on #51
Yes you're right about that! I will update the documentation accordingly.

[2020-11-23 11:04] #51 closed

[2020-11-24 05:00] MartinP7r commented on #16
Thank you for the suggestion @sebdesign ! The work-around seems workable, though if you get around to implementing it as a feature, that would probably be cleaner.

One problem with the workaround would be that I'm losing the possibility to run some logic involving the `TransitionEvent->getContext()` with the `before` config statement. Correct me if I'm wrong, but something like `'args' => ['"subm

[2020-11-24 10:17] sebdesign commented on #16
Oh I think I know what it is. `Gate::authorize()` accepts only 2 parameters: the `$ability` and the `$arguments` which is an array. So in your config you should specify the model and the event arguments as an array: `'args' => ['"submit"', '[object, event]']`. This way it will call: `gate::authorize('submit', [$model, $event])`.

[2020-11-27 09:34] sebdesign commented on #50
Hello, did you manage to find a solution?

[2020-12-09 11:42] sebdesign commented on #50
Closing due to inactivity.

[2020-12-09 11:42] #50 closed

[2021-01-15 18:32] nolka opened #53 "Please, add support for php 8"
[code]
produces:

[code]

php version
[code]

composer version
[code]

[2021-01-15 20:28] sebdesign commented on #53
We're still waiting for this PR https://github.com/winzou/state-machine/pull/45 to get merged.

[2021-02-06 05:45] MartinP7r commented on #16
Oh wow, I did not realize that. And sorry for the late reply. I'll check this out next week at work!
Thank you as always for being so helpful!

[2021-02-16 14:16] tennox commented on #53
Sad workaround:

[code]

[2021-02-16 23:49] CodyPChristian opened #54 "Laravel 8 Support"
Hello, I recently upgraded to Laravel 8 (using Shift) and as soon as I try to use this package it no longer works. I dont get any errors oddly but if I try to transition a state it will fail saying that its not allowed. The only changes is the framework upgrade. I tried this on a fresh Laravel 8 install and the same issue was there. It also seems to be ignoring the guards which is probably the cor

[2021-02-17 10:17] sebdesign commented on #54
Hello, can you post your `config/state-machine.php` and any related code? I want to replicate this issue with a fresh Laravel installation.

[2021-02-17 15:39] CodyPChristian commented on #54
Yes, I did find the issue was my policy file. Here is all of the files: https://gist.github.com/CodyPChristian/db18a5b64fe1e3c5684ea872ae7106dc

What I found is the function had to be $user = null for it to work, if this is removed it stops working, I even replicated this in Laravel 7 as well.

[2021-02-17 18:01] sebdesign commented on #54
I think this is related to the guest user. Since you don't have a `User` typehint for the `$user` parameter on the `CheckUserStatePolicy::handle()` method, you need to make it nullable `$user = null`.

https://laravel.com/docs/8.x/authorization#guest-users

[2021-02-17 18:01] #54 closed

[2021-02-17 20:02] CodyPChristian commented on #54
Thanks, yes I found this out too and made the change, if I recall I had to do  use `$user = null` in Laravel 7 to get this to work but in Laravel 8 we have guest users option now with `?User $user`.

[2021-02-26 09:16] patryyyck opened #55 "States/transitions in database"
Hello,

This package is awsome.

And i have a little question:
In order to have a more "flexible" workflow, is there a way to store (and get) the states and transitions in the database instead of the config file (config/state-machine.php)?

Regards

[2021-02-26 10:54] sebdesign commented on #55
Yes that's possible!

Let's say that in your `Order` model you have a `state_machine` column.
The migration would be: `$table->json('state_machine')`.
In the `Order` model you should add this column to your casts: `'state_machine' => 'json'`.
Then you can save the config (states, transitions, callbacks, etc) like this:

[code]

To get the state machine with your config you can add a method to your

[2021-02-26 11:20] patryyyck commented on #55
Thanks.
That looks great!
I'll try.

But i still wonder something.
In your example, the Order model will have 2 more columns:

- my_status  (the current status of my order)
- state_machine (the available states/transitions)

Maybe the second one can be store in another table/model in order to avoid to have the complete state machine configuration in each row of the Order table.

[2021-02-26 14:40] sebdesign commented on #55
You can create another table/model for you state machine configurations. For example:

[code]

[2021-02-26 14:52] patryyyck commented on #55
This is perfect.
I'll try this soon.

Thanks very much

[2021-02-26 14:52] #55 closed

[2021-03-04 02:05] sebdesign commented on #53
Hello, v3.2.0 with support for PHP 8 has been reelased: https://github.com/sebdesign/laravel-state-machine/releases/tag/v3.2.0

[2021-03-04 02:05] #53 closed

[2021-06-10 13:25] chadyred opened #56 "cascade_transition"
Hello, is it possible to do cascade transition between 2 state machine ?

This an exemple from sylius which apply a transition between 2 state machine in order to move state from a state machine to another ( see `do: ["@sm.callback.cascade_transition", "apply"] `)

[code]

[2021-06-11 09:43] sebdesign commented on #56
Hello, I remember the cascade transition mechanism but I haven't used it. I'll check this out tonight and I'll let you know.

[2021-06-15 07:36] chadyred commented on #56
Thanks ;) It is a really cool feature, in fact

[2021-06-15 21:24] sebdesign commented on #56
Hey @chadyred , here is how you can use cascade transitions in your callbacks:

Instead of using the `@sm.callback.cascade_transition` service, you should use the `CascadeTransitionCallback` class name (don't forget to use the fully qualified class name). The class will be resolved from the container, so you should be good. :)

[code]

[2021-06-16 07:25] chadyred commented on #56
Hello thanks a lot. I will try it soon, thanks for your information :)

[2021-06-16 07:25] #56 closed

[2022-01-31 14:03] EvgenijVesnovsk opened #60 "PHP Fatal error: Declaration of Sebdesign\SM\Event\Dispatcher::getListeners(?string $eventName = null) must be compatible with Symfony\Component\EventDispatcher\EventDispatcherInterface::getListeners(?string $eventName = null): array"
Hi,

Today after running "composer update" command an error appeared in my project:

Noticed that the following dependencies have been updated:
 - Upgrading symfony/event-dispatcher (v5.4.3 => v6.0.3)

Code in src\Event\Dispatcher.php in your package:

[code]

Code in symfony/event-dispatcher package:

`    public function getListeners(string $eventName = null): array;
`
Please fix it. Thank you.

[2022-02-01 22:52] #60 closed

[2022-02-01 23:01] sebdesign commented on #60
Hello, please update to v3.3.0, this issue has been resolved!
Thanks for reporting this bug.

[2022-10-15 00:29] pablosebastianr opened #62 "Issue defining callbacks in state-machine.php"
I have a laravel 9 project, with php 8.1
laravel-state-machine version 3.3.0

These don't work

[code]

[code]

The error I get is :

[code]
or `Return value must be of type callable, array returned` if I used the first one.

Digging a bit into the winzou library I found  SM\Callback\CallbackInterface
That's an invokable class.

If I do this it works

[code]

But the problem is with Laravel with t

[2022-10-16 13:08] sebdesign commented on #62
Hello,

That's quite strange. Can you tell me the version of the "winzou/state-machine" that is installed?

[code]

[2022-10-16 13:28] sebdesign commented on #62
I figured out what's happening.

The `run` method on the `App\Actions\AfterTramiteTransition` class is not a static method, so PHP cannot call it statically.
This package tries to resolve the instance of the `App\Actions\AfterTramiteTransition` from the container,  in order to call it normally. Since the class is not registered in the Laravel container, that doesn't work.

You need  to register `A

[2022-10-16 22:37] pablosebastianr commented on #62
Thanks you !
That was the issue. Either defining the the method as static or manually registering the class in Laravel's container.

[2022-10-16 22:37] #62 closed

[2022-10-18 02:11] videni opened #63 "Please support Laravel v6.20"
I am using  laravel/framework  `v6.20.44` which has
[code]

But the the ^2.0 of this packages depends on [winzou/state-machine](https://packagist.org/packages/winzou/state-machine): ^0.3.2, which has following dependencies.

[code]

[2022-10-18 10:18] sebdesign commented on #63
I'll see if I can support this version without many changes.

[2022-10-28 16:31] sebdesign commented on #63
So I've checked the version `v2.1.1` of this package, which has these dependencies:
- **laravel/support** `^5.5 | ^6.0`, which means `v6.20.44` is installable
- **winzou/state-machine** `^0.3.2`, which means `v0.3.3` is installable

**winzou/state-machine** `v0.3.3` has these dependencies:
- **symfony/event-dispatcher** `~2.1|~3.0|~4.0`, which means `v4.4.2` is installable
- **symfony/property-acc